/lab3/PFLab/target/
/lab4/Requests/target/
/lab5/MDBLab/nbproject/private/
/lab5/MDBLab/MDBLab-war/nbproject/private/
/lab5/MDBLab/MDBLab-ejb/nbproject/private/
/lab5/MDBLab/MDBLab-ejb/build/
/lab5/MDBLab/MDBLab-ejb/dist/
/lab5/MDBLab/dist/
/lab5/MDBLab/build/
/lab5/MDBLab/MDBLab-war/build/
/lab5/MDBLab/MDBLab-war/dist/
/lab7/Complaints/target/
/lab7/ComplaintsClient/target/